{% extends 'base.html' %}


{% block content %}
<ul class="list-places">
    <h1>{{ user }} memories</h1>
    {% if not places %}
        <h3>There are no memories, let's create one</h3>
    {% else %}
        {% for place in places %}
            <li><h2>{{ place.name }}</h2>
            {% if place.photo %}
                <p><img class="img-article-left thumb" src="{{ place.photo.url }}"></p>
            {% endif %}
            {{ place.content|linebreaks|truncatewords:30}}
            <div class="clear"></div>
            <p class="link-read-post"><a href="{{ place.get_absolute_url }}">View</a></p>
            </li>
        {% endfor %}
    {% endif %}
</ul>
{% endblock %}
