{% extends 'base.html' %}
{% load account %}


{% block content %}
{% if request.user.id == place.user_id_id %}
    <div class="show-place">
       <h1 style="margin-left: 10px;">{{ place.title }}</h1>
        {% if place.photo %}
            <div class="place-photo">
                <p><img class="img-article-left thumb" src="{{ place.photo.url }}"></p>
            </div>
        {% endif %}
        <p>{{ place.content }}</p>
    </div>
    <br>

    <div id="map" style="width: 600px; height: 400px; position: relative; margin-top: 200px; margin-left: 10px;"></div>
    <script>
        DG.then(function() {
            var map = DG.map('map', {
                center: [{{ place.lat }}, {{ place.lon }}],
                zoom: 10
            });

            DG.marker([{{ place.lat }}, {{ place.lon }}])
                .addTo(map)
                .bindPopup('{{ place.title }}');
        });


    </script>
{% else %}
    <div class="container-item">
        <h1>You have no access to this post!</h1>
        <form class="form-submit-btn m-t-17" action="{% url 'home' %}">
            <button class="submit-btn">Go to Main</button>
        </form>
    </div>
{% endif %}
{% endblock %}
