{% extends "base.html" %}
{% load i18n %}


{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container-item">

{% if process == "connect" %}
<h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>
<br>
<p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
{% else %}
<h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>
<br>
<h3>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</h3>
{% endif %}
</div>
<br>
<form method="post">
  {% csrf_token %}
<div class="container-item">
  <button class="submit-btn" type="submit">{% trans "Continue" %}</button>
</div>
</form>
{% endblock %}